/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem 0rem 0rem ;
  background: linear-gradient(to bottom, #e54b48 0%,#f69c4d 100%);
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

